﻿<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>courses and training</title>
    <link rel="shortcut icon" href="favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bxslider -->
<link type="text/css" rel='stylesheet' href="/js/bxslider/jquery.bxslider.css">
<!-- End bxslider -->

<!-- bxslider -->
<link type="text/css" rel='stylesheet' href="/js/radial-progress/style.css">
<!-- End bxslider -->

<!-- Animate css -->
<link type="text/css" rel='stylesheet' href="/css/animate.css">
<!-- End Animate css -->

<!-- Bootstrap css -->
<link type="text/css" rel='stylesheet' href="/css/bootstrap.min.css">
<link type="text/css" rel='stylesheet' href="/js/bootstrap-progressbar/bootstrap-progressbar-3.2.0.min.css">
<!-- End Bootstrap css -->

<!-- Jquery UI css -->
<link type="text/css" rel='stylesheet' href="/js/jqueryui/jquery-ui.css">
<link type="text/css" rel='stylesheet' href="/js/jqueryui/jquery-ui.structure.css">
<!-- End Jquery UI css -->

<!-- Fancybox -->
<link type="text/css" rel='stylesheet' href="/js/fancybox/jquery.fancybox.css">
<!-- End Fancybox -->

<link type="text/css" rel='stylesheet' href="/fonts/fonts.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<link type="text/css" data-themecolor="default" rel='stylesheet' href="/css/main-default.css">

<link type="text/css" rel='stylesheet' href="/js/rs-plugin/css/settings.css">
<link type="text/css" rel='stylesheet' href="/js/rs-plugin/css/settings-custom.css">
<link type="text/css" rel='stylesheet' href="/js/rs-plugin/videojs/video-js.css">
<link type="text/css" rel='stylesheet' href="/css/custom.css">
    <link type="text/css" rel='stylesheet' href="/css/shapes/reset.css">
    <link type="text/css" rel='stylesheet' href="/css/shapes/style.css">
    <link type="text/css" rel='stylesheet' href="/css/datepicker.css">
    <link type="text/css" rel="stylesheet" href="/css/jansy/jasny-bootstrap.css" />

</head>