﻿<!DOCTYPE html>
<html>
<% include Partials/header.ejs%>
    <% include Partials/AdminNavigation.ejs%>
<body data-ng-app="ngadmin">

    <!-- <div class="row b-shortcode-example">-->
    <div data-active="2" class="b-tabs-vertical b-tabs-vertical--default f-tabs-vertical j-tabs-vertical b-tabs-reset row">
        <div class="col-md-2 col-sm-4 b-tabs-vertical__nav">
            <ul>
                <li><a class="f-primary-l" href="#tabs-1"><i class="fa fa-plus-circle"></i>Users</a></li>
                <li><a class="f-primary-l" href="#tabs-2"><i class="fa fa-list-alt"></i>Courses</a></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-8 b-tabs-vertical__content">

            <!----- Users ------------->
            <% include AdminPartials/AdminUsers.ejs%>

            <!----- Courses ----------->
            <% include AdminPartials/AdminCourses.ejs%>
		        	
		        	<!-- getting the border--------->
            <div class="b-product-cart-small__content_row b-form-row--big b-shortcode-example b-null-bottom-indent">
                <label class="c-tertiary b-null-bottom-indent"></label>
            </div>

        </div>
    </div>



      <script src="js/jquery/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jqueryui/jquery-ui.js"></script>
    <script src="js/modules/ui.js"></script>
    
    <% include Partials/scripts.ejs%>
    <script type="text/javascript">
        /* Fire Valaidate */
        $(document).ready(function () {
            $.validator.addMethod("nourl",
                        function (value, element) {
                            return !/http\:\/\/|www\.|link\=|url\=/.test(value);
                        },
                "No URL's"
            );

            $("#update-course-form").validate({
                rules: {
                    StatusByP: {
                        required: true
                    },
                    Domain: {
                        required: true
                    },
                    TrainingName: {
                        required: true
                    },
                    Type: {
                        required: true
                    },
                    PrimaryTag: {
                        required: true,
                        minlength: 3
                    },
                    SecondaryTag: {
                        required: true,
                        minlength: 3
                    },
                    Fee: {
                        required: true,
                        digits: true
                    },
                    TopicsToCover: {
                        required: true,
                        minlength: 3
                    },
                    Video: {
                        required: true,
                        minlength: 5
                    },
                    TeacherDetail: {
                        required: true,
                        minlength: 5
                    },
                    TopicsToCover: {
                        required: true,
                        minlength: 3
                    },
                    Comments: {
                        required: true,
                        minlength: 5,
                        maxlength: 200,
                        nourl: true
                    }
                }
            });            
        });
    </script>

    <style type="text/css">
        /* ----------- jQuery Validation ----------- */

        /* --- Form D --- */
        .form.a p {
            position: relative;
            margin: 0;
            width: 310px; /* IE6 Fix */
        }

        .form.a label.error {
            position: absolute;
            top: 0px;
            right: -150px;
            margin: 0;
            background: red;
            opacity: .7;
            filter: alpha(opacity=70);
            color: #fff;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 7px;
            -moz-box-shadow: 0 0 7px #000;
            -webkit-box-shadow: 0 0 7px #000;
            box-shadow: 0 0 7px #000;
            border: 2px solid #fff;
            padding: 5px 10px;
        }

            .form.a label.error:before {
                content: url(../images/triangle.png);
                position: absolute;
                bottom: -36px;
                height: 36px;
            }


        .form1.a p {
            position: relative;
            margin: 0;
            width: 310px; /* IE6 Fix */
        }

        .form1.a label.error {
            position: absolute;
            top: 0px;
            right: -150px;
            margin: 0;
            background: red;
            opacity: .7;
            filter: alpha(opacity=70);
            color: #fff;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 7px;
            -moz-box-shadow: 0 0 7px #000;
            -webkit-box-shadow: 0 0 7px #000;
            box-shadow: 0 0 7px #000;
            border: 2px solid #fff;
            padding: 5px 10px;
        }

            .form1.a label.error:before {
                content: url(../images/triangle.png);
                position: absolute;
                bottom: -36px;
                height: 36px;
            }

        .form2.a p {
            position: relative;
            margin: 0;
            width: 310px; /* IE6 Fix */
        }

        .form2.a label.error {
            position: absolute;
            top: 0px;
            right: -150px;
            margin: 0;
            background: red;
            opacity: .7;
            filter: alpha(opacity=70);
            color: #fff;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 7px;
            -moz-box-shadow: 0 0 7px #000;
            -webkit-box-shadow: 0 0 7px #000;
            box-shadow: 0 0 7px #000;
            border: 2px solid #fff;
            padding: 5px 10px;
        }

            .form2.a label.error:before {
                content: url(../images/triangle.png);
                position: absolute;
                bottom: -36px;
                height: 36px;
            }


        /*upload css*/

        .button {
            -moz-appearance: button;
            /* Firefox */
            -webkit-appearance: button;
            /* Safari and Chrome */
            padding: 10px;
            margin: 10px;
            width: 70px;
        }

        .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 200px;
            height: 65px;
            text-align: center;
            padding-top: 25px;
            margin: 10px;
        }

        .dragover {
            border: 5px dashed blue;
        }
    </style>
 </body>
</html>
