﻿<!DOCTYPE html>
<html data-ng-app="myApp">

<% include Partials/header.ejs%>
<body style="background-color:white" data-ng-controller = "index_navto_login">
<div class="mask-l" style="background-color: #fff; width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: 9999999;"></div> <!--removed by integration-->
<% include Partials/navigation.ejs%>

<div class="j-menu-container"></div>
<!--<div class="f-center f-primary-b white_back"><h2><a href="/registration">get your Couse listed <b>NOW</b></a></h2></div>-->

<section class="b-about-container f-about-container b-bg-gradient b-about-container__with-img-l"  style="background-color:red">

    <div class="container f-center">
        <div class="row">
            <div class="col-md-1 col-md-1"></div>
            <div class="col-md-7 col-md-8" style="padding: 3px">
                <div class="" style="padding-top:20px; color:#332f2f;font-family:'Bradley Hand ITC'; font-weight:bolder; font-size:xx-large">Find your Courses/Trainings</div>
            </div>
        </div>
         
        <div class="container" style="height:300px;">
            <br /><br />
            <!------------------------ search textbox -------------------------------->
            <div class="row">

                 

                <form class="search" method="get" action="/course_category/" style="margin-left: 1px;">
                    <div class="col-md-2 col-md-2"></div>
                    <!-- style="padding: 0px 0px 0px 0px; background-color: rgba(255, 255, 255, 0.08)" -->
                    <div class="col-md-2 col-md-12">
                        <!-- <input type="text" class="searchTextBox" placeholder="Location...TBD" /> -->
                        <div class="_form-wrapper" style="width:200px;">
                        <select name="city" class="form-control" style="height:40px">
                            <option value="">Select Location</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Mumbai">Kolkata</option>
                            <option value="Mumbai">Hyderabad</option>
                        </select>
                            </div>
                        <!-- <ul class="results" style="overflow:hidden">
                            <li><a href="index.html">Search Result #1<br />
                                <span>Description...</span></a></li>
                            <li><a href="index.html">Search Result #2<br />
                                <span>Description...</span></a></li>
                            <li><a href="index.html">Search Result #3<br />
                                <span>Description...</span></a></li>
                             <li><a href="index.html">Search Result #3<br />
                                <span>Description...</span></a></li>
                             <li><a href="index.html">Search Result #3<br />
                                <span>Description...</span></a></li>
                        </ul> -->
                    </div>

                    <!-- style="padding: 0px 0px 0px 0px; background-color: rgba(255, 255, 255, 0.08)" -->
                    <div class="col-md-4 col-md-12">
                        <div>
                             <div class="_form-wrapper cf">
        <input class="searchme" id="truesearch" name="q" type="text" placeholder="Search here..." required>
        <button type="submit">Search</button>
    </div>
                            <!--<input type="text"  class="form-control"  autocomplete="off" placeholder="Search..." />-->
                           
                            <!--<ul id="ulsearch">-->
                            <!-- <li><a href="index.html">Search Result #1<br />
                                 <span>Description...</span></a></li>
                             <li><a href="index.html">Search Result #2<br />
                                 <span>Description...</span></a></li>
                             <li><a href="index.html">Search Result #3<br />
                                 <span>Description...</span></a></li>
                             <li><a href="index.html">Search Result #4</a></li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                    <!-- style="padding:4px 0px 4px 0px;  background-color:rgb(96, 198, 42); left:-0px;" -->
                    <!--<div class="col-md-1 col-md-12" >
                        <div class="searchbutton" >
                            <button type="submit"><i class="fa fa-search"></i><span>Search</span></button>
                        </div>
                    </div>-->
                </form>
            </div>

            

           </div>

            <!--------------------------------------- search ends here ------------------------------>

            <div class="b-about-container__text f-about-container__text f-secondary-l">
                A forum for providing and explore all the courses and training
            </div>

            <div class="b-about-container__title_second f-about-container__title_second f-secondary-l">
                Let people find your trainings and courses in 3 simple steps
            </div>
            <div class="caption lft"  data-x="center" data-y="30" data-speed="600" data-start="00">
                <button class="button-lg" data-ng-click="login()">Get your COURSE listed NOW</button>
            </div>
        </div>
   



</section>
<br />
<div class="col-md-12 f-center f-primary-b" style="font-size:x-large"><h3>Browse By category</h3>
    <br />

</div>

    
<div class="container" data-ng-controller="indexcontroller">
    <button id="getimg">getimg</button>
    <div class="row">

        <div class="col-sm-6 col-md-3" data-ng-repeat="item in items">
            <div class="thumbnail"  >
                <a href="/course_category/{{item.training_cat}}">
                    <img src="img/HomeTileImage/{{item.training_cat}}.jpg" alt="...">
                    <!-- <img src="https://s3.amazonaws.com/UTAtestbucket/sprite.png" alt="...">-->
                </a>
                <!-- <img src="img/homeimage/DA1.jpg" alt="...">-->
                <div >
                    <div >
                        <h5 style="padding:5px;text-align:center"><b>{{item.training_cat}}</b></h5></div>
                    <p style="text-align:center">{{item.cat_datas}}</p>

                    <h5 style="padding:5px;text-align:center;"><b style="color:rgba(176, 15, 15, 0.94)" >view More..</b></h5></div>

            </div>
        </div>
    </div>
    </div>
    


<div style="position:relative;width:100%; background-color:rgba(0, 0, 0, 0.44)">
    <div style="position:relative;width:100%;height:248px; background-color:rgba(0, 0, 0, 0.44);">


        <div class="col-md-4 col-md-12" style="color:white;background-color:rgba(98, 243, 21, 0.33);margin:auto;text-align:center;padding:40px;">

            <i class="fa fa-search fa-5x"></i>
            <br />
            <h2 style="color:white">Search you course</h2>
            <span>you can search for course and certification</span>
            <p>A better way to look for your courses at your location</p>

        </div>
        <div class="col-md-4 col-md-12" style="color:white;background-color:rgba(228, 49, 49, 0.50); margin:auto;text-align:center;padding:40px;">

            <i class="fa fa-adn fa-5x"></i>
            <br />
            <h2 style="color:white">Advice for courses</h2>
            <span>you can search for course and certification</span>
            <p>A better way to look for your courses at your location</p>

        </div>
        <div class="col-md-4 col-md-12" style="color:rgba(0, 0, 0, 0.63);background-color:rgba(255, 255, 255, 0.77);margin:auto;text-align:center;padding:40px;"">
        <i class="fa fa-check fa-5x"></i>
        <br />
        <h2 style="color:rgba(0, 0, 0, 0.63)">Register courses</h2>
        <span>you can search for course and certification</span>
        <p>A better way to look for your courses at your location</p>
    </div>
</div>
</div>




<section class="b-desc-section-container b-diagonal-line-bg-light">
    <div class="container">
        <h2 class="f-center f-primary-b">why choose us ?</h2>
        <p class="b-infoblock-description f-desc-section f-center f-employee__desc f-small">
            We provide the best courses from all over India includeing classrooms, individuals and online. We deal with the all the course peovider and
            give you easy approach to your required training. Search for the most suitable Training and courses.
        </p>
        <p class="b-desc-section f-desc-section f-center f-primary-l">
            We show and conduct best trainings and cources of your choice
        </p>
        <div class="b-hr-stars f-hr-stars">
            <div class="b-hr-stars__group">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="b-infoblock-with-icon-group row">

        </div>
    </div>
</section>


<section class="b-infoblock b-diagonal-line-bg-light f-secondary">
    <div class="container">
        <h2 class="f-center f-secondary-l">Our<strong class="f-secondary-b">best</strong> Training Providers and <strong>Partners</strong></h2>


    </div>

</section>

    <div id="parallelogram" style="background-color:black">

         <div class = "promo">
         <img src="img/homeimage/growimg.jpg" />

         <div class="hilight">
            <h2 style="text-align:center">We will help you to grow your career and guide a corret path</h2>
         </div>

     </div>


    </div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project = 10458947;
    var sc_invisible = 0;
    var sc_security = "3e92b848";
    var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
</script>
<noscript><div class="statcounter"><a title="shopify
analytics tool" href="http://statcounter.com/shopify/"
                                      target="_blank"><img class="statcounter"
                                                           src="http://c.statcounter.com/10458947/0/3e92b848/0/"
                                                           alt="shopify analytics tool"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

    <style>
        .cf:before, .cf:after {
            content: "";
            display: table;
        }

        .cf:after {
            clear: both;
        }

        .cf {
            zoom: 1;
        }
        /* Form wrapper styling */
        ._form-wrapper {
            width: 450px;
            padding: 10px;
            margin: 0px auto 50px auto;
            background: #444;
            background: rgba(0,0,0,.2);
            border-radius: 7px;
            box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        }

            /* Form text input */
            ._form-wrapper .searchme {
                width: 320px;
                height: 40px;
                padding: 10px 5px;
                float: left;
                font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
                border: 0;
                background: #;
                border-radius: 3px 0 0 3px;
            }

                ._form-wrapper .searchme:focus {
                    outline: 0;
                    background: #fff;
                    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
                }

                ._form-wrapper .searchme::-webkit-input-placeholder {
                    color: #999;
                    font-weight: normal;
                    font-style: italic;
                }

                ._form-wrapper .searchme:-moz-placeholder {
                    color: #999;
                    font-weight: normal;
                    font-style: italic;
                }

                ._form-wrapper .searchme:-ms-input-placeholder {
                    color: #999;
                    font-weight: normal;
                    font-style: italic;
                }

            /* Form submit button */
            ._form-wrapper button {
                overflow: visible;
                position: relative;
                float: right;
                border: 0;
                padding: 0;
                cursor: pointer;
                height: 41px;
                width: 110px;
                font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
                color: #fff;
                text-transform: uppercase;
                background: #66d068; /* #d83c3c;*/
                border-radius: 0 3px 3px 0;
                text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
            }

                ._form-wrapper button:hover {
                    background: #62ca64;
                }

                ._form-wrapper button:active,
                ._form-wrapper button:focus {
                    background: #62ca64;
                    outline: 0;
                }

                ._form-wrapper button:before { /* left arrow */
                    content: '';
                    position: absolute;
                    border-width: 8px 8px 8px 0;
                    border-style: solid solid solid none;
                    border-color: transparent #66d068 transparent;
                    top: 12px;
                    left: -6px;
                }

                ._form-wrapper button:hover:before {
                    border-right-color: #62ca64;
                }

                ._form-wrapper button:focus:before,
                ._form-wrapper button:active:before {
                    border-right-color: #62ca64;
                }

                ._form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
                    border: 0;
                    padding: 0;
                }
    </style>

<% include Partials/footer.ejs%>
<% include Partials/scripts.ejs%>


</body>
</html>