﻿<!DOCTYPE html>
<html>
<% include Partials/header.ejs%>
<body>
    <% include Partials/navigation.ejs%>

    <div class="l-main-container">
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><i class="fa fa-angle-right"></i><a href="#">name of tag</a></li>  
                <a href="#" class="b-right mysort active">order by rating<i class="fa fa-sort-amount-asc"></i></a>
            <a href="#" class="b-view-switcher b-right">order by time to start<i class="fa fa-sort-amount-asc"></i> </a>
            <a href="#" class="b-view-switcher b-right">order by alphabet<i class="fa fa-sort-amount-asc"></i> </a>
                                
            </ul>

           
         <!--   <form action="#">-->
               <!-- <div class="b-select b-left">
                    <select class="j-select" name="productAtPage" id="Select1">
                        <option>1 products/page</option>
                        <option>6 products/page</option>
                        <option selected="selected">9 products/page</option>
                    </select>
                </div>-->
              <!--  <div class="b-select b-left">
                    <select class="j-select" name="productAtPage" id="Select2">
                        <option>Order by price</option>
                        <option selected="selected">Order by name</option>
                    </select>
                </div>-->
               <!-- <div class="b-sort-panel__inner_icon-sort f-sort-panel__inner_icon-sort fa fa-sort-amount-desc"></div>-->

             
                   

          <!--  </form>-->

        </div>
        
    </div>

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-2">
                    
            <div class="b-shortcode-example">

                <div class="b-tabs f-tabs j-tabs b-tabs-reset b-tabs--secondary f-tabs--secondary">
                    <ul class="f-primary-b">
                        <li><a href="#tabs-31">ClassRoom</a></li>
                        <li><a href="#tabs-32">Online</a></li>
                    </ul>
                    <div class="b-tabs__content">
                        <div id="tabs-31" class="clearfix">
                              <%for(i=0;i<name.length;i++){%>

                    <div class="b-blog-one-column__row b-some-examples-secondary">
    <div class="row">
        <div class="col-sm-6 col-md-4">
         <div class="b-portfolio_image_box view view-sixth">
                              <img data-retina="" src="../img/homeimage/HP4.jpg" alt="">
                                 <div class="b-item-hover-action f-center mask">
                                   <div class="b-item-hover-action__inner">
                                       <div class="b-item-hover-action__inner-btn_group">
                                         <a href="/img/portfolio/big/our_portfolio-1.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Suspendisse nec sem conse" rel="group1"><i class="fa fa-arrows-alt"></i></a>
                                    <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
        
         <div class="col-md-8 col-s-14">
                        <div class="b-portfolio_info">
                            <div class="b-portfolio_info_title f-primary-b"><a href="portfolio_our_portfolio_detail.html">  <%=name[i]%></a></div>
                            <div class="b-portfolio_info_rating">
                                <div class="b-stars-group f-stars-group">
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="b-rating_bord hidden-xs"></span>
                                <div class="b-portfolio_rating_category">
                                    <span class="f-portfolio_category_title"><i class="fa fa-tag"></i>Tag :</span>
                                    <a href="#" class="f-portfolio_category_name"><%=tag[i]%></a>
                                     <span class="f-portfolio_category_title">&nbsp;<i class="fa fa-map-marker"></i>Location :</span>
                                    <a href="#" class="f-portfolio_category_name"><%=address[i]%></a>
                                </div>
                            </div>
                            <div class="b-portfolio_info_description f-portfolio_info_description"> <%=summary[i]%>  </div>
                            <div class="b-portfolio_info_button f-portfolio_info_button">
                                <a href=" /<%=name[i]%>/<%=tag[i]%>">...full view</a>
                            </div>
                        </div>
                    </div>

    </div>
</div>

<%}%>
                        </div>
                        <div id="tabs-32" class="clearfix">
                        </div>
                    </div>

                </div>
            </div>
			
                   


    <!--------------------------- paging div ------------------------->
   <!-- <div class="b-pagination f-pagination">
        <ul>
            <li><a href="#">First</a></li>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="is-active-pagination"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a class="next" href="#"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="#">Last</a></li>
        </ul>
    </div>-->
                    <!--------------------------- paging div ends------------------------->
                </div>
				
				
                <div class="visible-xs-block visible-sm-block b-hr">test</div>

                <!-------------------------------------- Location filter-------------------------->

                <div class="col-md-2 col-md-pull-9">
                    
                    <div class="row b-col-default-indent">
                        <div class="col-md-12">
                            <div class="b-categories-filter">
    <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">Location filter</h4>
    <ul>
        <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox-simple-off" />
                 <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Pune</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
         <li>
             <label for="checkbox1">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox1" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Delhi</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
        <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox2" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Hyderabad</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
        <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox3" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">bangalore</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
         <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox4" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Noida</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
         <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox5" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Chennai</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
        <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox6" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Mumbai</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
         <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox7" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Kolkata</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
          <li>
             <label for="checkbox-simple-off">
                   <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox8" />
                  <span></span>
              </label>
            <a class="f-categories-filter_name" href="#">Jaipur</a>

            <span class="b-categories-filter_count f-categories-filter_count">12</span>
        </li>
    </ul>
</div>
                        </div>
                    </div>
                    
                </div>

                <!-------------------------------------- Location filter ends-------------------------->

            </div>
        </div>
   
               <div class="container"></div>
            <div class="row"></div>
      <% include Partials/footer.ejs%>
  <% include Partials/scripts.ejs%>
</body>
</html>