﻿<!DOCTYPE html>
<html>
<% include Partials/header.ejs%>
<body>
<!--<% include Partials/navigation.ejs%>-->

 <div class="container b-container-login-page">
        <div class="row">
            <div class="col-md-12">
                <div class="b-log-in-form">
                   
                    <hr class="b-hr" />
                    <div class="b-form-row b-form-inline b-form-horizontal">
                        <div class="col-md-6 col-md-push-4">
                            <div class="b-form-row">
                                
                    <a href="/auth/facebook" class="b-social__item f-social__item b-social__item--fb"><i class="fa fa-facebook"></i> Facebook</a>
                            </div>
                            <div class="b-form-row">
                               
                            </div>
                            <div class="b-form-row">
                                
                            </div>
                            <div class="b-form-row">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            </div>
        </div>
			<% include Partials/footer.ejs%>
			<% include Partials/scripts.ejs%>
</body>
</html>