﻿<div id="tabs-4">
    <div class="b-tabs-vertical__content-text">
        <div class="row b-col-default-indent">
            <div class="col-md-11">
                <div class="b-product-cart-small">
                    <div class="b-product-cart-small__header courseheader">
                        <div class="f-primary-b f-uppercase f-title-small">Media files and documents</div>
                    </div>
                    <!-------------------------------- upload ------------------------->
                    <div class="thumbnails" style="width: 25%; background-color: white;">

                        <div class="span8" style="width: 100%; background-color: white;">
                            <div class="thumbnail right-caption" style="width: 100%; padding: 5px; background-color: white; margin: 5px;">
                                <img class="" src="{{profile.Logo}}" alt="http://placehold.it/120x120" />
                                <div class="caption" style="margin: 10px; padding: 10px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding:20px;">
                        <div class="btn btn-primary" data-ngf-select data-ngf-change="upload($files)" data-ngf-multiple="multiple">Select File</div>
                        <br />
                        Upload Log:   
                        <pre>{{log}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
